* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sublowercontainer::-moz-selection,
.lowercontainer::-moz-selection,
.playlinecontainer::-moz-selection,
.additionalicons::-moz-selection,
.imgarea::-moz-selection,
.uppericons::-moz-selection {
  background-color: transparent;
}

.sublowercontainer::selection,
.lowercontainer::selection,
.playlinecontainer::selection,
.additionalicons::selection,
.imgarea::selection,
.uppericons::selection {
  background-color: transparent;
}

.sublowercontainer,
.lowercontainer,
.playlinecontainer,
.additionalicons,
.imgarea,
.uppericons {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /*You just need this if you are only concerned with android and not desktop browsers.*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.parentcontainer {
  width: 400px;
  height: 400px;
  background: #FEAC5E;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#4BC0C8), color-stop(#C779D0), to(#FEAC5E));
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  -webkit-box-shadow: 5px 9px 10px #888888;
          box-shadow: 5px 9px 10px #888888;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.parentcontainer .containermanager .lowercontainer button:nth-child(1) {
  position: absolute;
  top: 89%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.parentcontainer .containermanager .lowercontainer button:nth-child(2) {
  position: absolute;
  top: 89%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.parentcontainer .containermanager .lowercontainer button:nth-child(3) {
  position: absolute;
  top: 89%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.parentcontainer .containermanager .sublowercontainer {
  font-size: 32px;
}

.parentcontainer .containermanager .lowercontainer button {
  background: none;
  border: none;
  outline: none;
}

.parentcontainer .containermanager .lowercontainer button i {
  font-size: 32px;
}

.parentcontainer .containermanager .lowercontainer button .playbtn {
  font-size: 50px;
}

.parentcontainer .containermanager .uppericons {
  font-size: 25px;
}

.parentcontainer .containermanager .uppericons #animateManager {
  position: absolute;
  top: 5%;
  left: 95%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.parentcontainer .containermanager .uppericons #helpguide {
  position: absolute;
  top: 5%;
  left: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.parentcontainer .containermanager .uppericons #clockico {
  position: absolute;
  top: 5%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.parentcontainer .containermanager .uppericons #sunico {
  position: absolute;
  top: 5%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.parentcontainer .containermanager .playline,
.parentcontainer .containermanager .playlinecontainer {
  width: 95%;
  height: 7px;
  background: white;
  z-index: 1;
  border-radius: 5px;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.parentcontainer .containermanager .playline {
  width: 100%;
  z-index: 2;
  background: red;
  position: absolute;
  top: 52%;
  left: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.parentcontainer .containermanager .playlinecontainer {
  overflow: hidden;
}

.parentcontainer .containermanager .starttime {
  position: absolute;
  top: 80%;
  left: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.parentcontainer .containermanager .endtime {
  position: absolute;
  top: 80%;
  left: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.parentcontainer .containermanager .imgarea {
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  z-index: 5;
  overflow: hidden;
  position: absolute;
  top: 27%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.parentcontainer .containermanager .imgarea i {
  z-index: 10;
  position: absolute;
  top: 44%;
  left: 44%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 150px;
  color: #E11D48;
}

.parentcontainer .containermanager .imgarea .vlines-con .vlines {
  height: 200px;
  width: 10px;
  background: red;
  position: absolute;
  opacity: 0.4;
}

.parentcontainer .containermanager .imgarea .vlines-con .vlines:nth-child(1) {
  left: 9%;
  background: #22a6b3;
  top: 50%;
}

.parentcontainer .containermanager .imgarea .vlines-con .vlines:nth-child(2) {
  left: 18%;
  background: #22a6b3;
  top: 50%;
}

.parentcontainer .containermanager .imgarea .vlines-con .vlines:nth-child(3) {
  left: 27%;
  background: #e84393;
  top: 80%;
}

.parentcontainer .containermanager .imgarea .vlines-con .vlines:nth-child(4) {
  left: 36%;
  background: #82589F;
  top: 70%;
}

.parentcontainer .containermanager .imgarea .vlines-con .vlines:nth-child(5) {
  left: 45%;
  background: #be2edd;
  top: 20%;
}

.parentcontainer .containermanager .imgarea .vlines-con .vlines:nth-child(6) {
  left: 54%;
  background: #6D214F;
  top: 40%;
}

.parentcontainer .containermanager .imgarea .vlines-con .vlines:nth-child(7) {
  left: 63%;
  background: #e84393;
  top: 80%;
}

.parentcontainer .containermanager .imgarea .vlines-con .vlines:nth-child(8) {
  left: 72%;
  background: #82589F;
  top: 70%;
}

.parentcontainer .containermanager .imgarea .vlines-con .vlines:nth-child(9) {
  left: 81%;
  background: #6D214F;
  top: 40%;
}

.parentcontainer .containermanager .imgarea .vlines-con .vlines:nth-child(10) {
  left: 90%;
  background: #be2edd;
  top: 20%;
}

.parentcontainer .containermanager .songcredits {
  position: absolute;
  top: 61%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.parentcontainer .containermanager .additionalicons #changingico {
  position: absolute;
  top: 65%;
  left: 7%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.parentcontainer .containermanager .additionalicons #changingico::-moz-selection {
  background: none;
}

.parentcontainer .containermanager .additionalicons #changingico::selection {
  background: none;
}

.parentcontainer .containermanager .additionalicons i {
  font-size: 20px;
  position: absolute;
  top: 65%;
  left: 94%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.outerclassAnimation {
  overflow: auto;
  margin-top: 10px;
  text-align: center;
}

.animationword {
  font-size: 60px;
  color: crimson;
}

.footer {
  display: block;
  width: 100vw;
  margin: auto;
  position: absolute;
  top: 90vh;
  text-align: center;
}

button,
i {
  cursor: pointer;
}

#bfwd {
  position: absolute;
  top: 89%;
  left: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#nfwd {
  position: absolute;
  top: 89%;
  left: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 400px) {
  .parentcontainer {
    width: 95%;
  }
  .parentcontainer .containermanager .lowercontainer button:nth-child(1) {
    position: absolute;
    top: 90%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .parentcontainer .containermanager .lowercontainer button:nth-child(2) {
    position: absolute;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .parentcontainer .containermanager .lowercontainer button:nth-child(3) {
    position: absolute;
    top: 90%;
    left: 70%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #bfwd {
    position: absolute;
    top: 90%;
    left: 10%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #nfwd {
    position: absolute;
    top: 90%;
    left: 90%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 500px) {
  .animationword {
    font-size: 32px;
  }
}
/*# sourceMappingURL=index.css.map */